header {
    background-color: #EDF6F9;
    color: #83C5BE;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #83C5BE;
  }

  header > h1,
main {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}